{% block body %}
    <h2>Product Stock</h2>
    {% if data|length > 0 %}
    <div>There are {{ data|length }} products.</div>
        {% for d in data %}
            {# hydrated data from doctrine join. Must switch from one entity type to another #}
            {% if loop.index0 is even %}
                <p> {{ d.id }} {{ d.code }}
            {% else %}
                {% if d is not null %}
                   {{ d.stockStatus }} {{ d.restockDate|format_datetime('medium', 'short') }}
                {% endif %}
                </p>
            {% endif %}
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('roma_product_management_show', { status: status, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < data|length %}
            <a href="{{ path('roma_product_management_show', { status: status, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No products.</div>
    {% endif %}
{% endblock %}
